* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background-color: #E7F6F2;
}

header {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #070f2b;
}

header img {
    margin: 5px 30px;

}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

li {
    margin: 0 20px;
}

li a {
    color: white;
    text-decoration: none;
    
}

li a:hover {
    color: #FB2576;
}

#reg {
    margin-right: 30px;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    background-color: #FB2576;
}

#reg:hover {
    border: 2px solid white;
    padding: 8px 18px;
}


.container1{
    display: flex;
    flex-direction: row;
}

.container1 img{
    width: 95%;
    margin-top: 5px;
}

.container2{
    display: flex;
    flex-direction: row;
}

.container2 img{
    width: 100%;
}

.container3{
    display: flex;
    flex-direction: row;
}

.container3 img{
    width: 100%;
}

.container4{
    display: flex;
    flex-direction: row;
}

.container4 img{
    width: 100%;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container4 .text{
    width: 100%;
}

.text p{
    text-align: center;
    margin: 0 20px;
}



.regj{
    text-align: center;
    margin: 30px 0 30px 0;
}

#regji{
    font-size: 40px;
    font-weight: 1000;
    padding: 20px 30px;
    color: white;
    background-color: #FB2576;
    border-radius: 15px;
    text-decoration: none;
}

#regji:hover{
    text-decoration: underline;
}

footer {
    background-color: #070f2b;
    color: white;
    padding: 20px;
    text-align: center;
}

.social-icons {
    font-size: 24px;
}

.footer a{
    text-decoration: none;
}

.social-icons i {
    margin: 0 10px;
    color: white;
}

.social-icons i:hover {
    color: #FB2576;
}

.name{
    font-size: 30px;
    font-weight: 700;
}

.copyright{
    margin: 10px 0;
}

@media screen and (max-width: 1024px){
    .container1, .container2, .container3, .container4{
        display: flex;
        flex-direction: column;
    }
    .container1 img{
        margin-top: 0;
        width: 100%;
    }
    .container2 img{
        margin: 0;
        width: 100%;

    }
    .container3 img{
        margin: 0;
        width: 100%;
    }

    .container4 img{
        margin: 0;
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    li{
        margin: 0 5px;
    }

    #reg{
        margin-right: 10px;
    }

    header img{
        margin-left: 10px;
    }

    #regj{
        width: 100%;
    }
}